<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TallerMecanica</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Autorepair<span> CRMM.</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                @if (User.IsInRole("Administrador"))
                                {
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Administrador
                                    </a>
                                    <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                                        <a asp-page="/Inicio/Mantenimiento/Index" class="dropdown-item">Mantenimiento</a>
                                        <a asp-page="/Inicio/Asignacion/Index" class="dropdown-item">Asignaciones</a>
                                        @*<a asp-page="/Inicio/CasosVehiculos/Index" class="dropdown-item">CasosVehiculos</a>*@
                                    </div>
                                }
                                else
                                { }



                            </li>
                            <li class="nav-item dropdown">
                                @if (User.IsInRole("Administrador") || User.IsInRole("Secretaria"))
                                {
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Servicio Clientes
                                    </a>
                                    <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                                        <a asp-page="/ServicioCliente/Cliente/Index" class="dropdown-item">Clientes</a>
                                        <a asp-page="/ServicioCliente/Vehiculo/Vehiculo" class="dropdown-item">Automovil</a>
                                        <a asp-page="/ServicioCliente/recibido/Index" class="dropdown-item">Recibido</a>
                                    </div>
                                }
                                else
                                { }
                            </li>
                            <li class="nav-item dropdown">
                                @if (User.IsInRole("Administrador") || User.IsInRole("Mecanico"))
                                {
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Mecanico
                                    </a>
                                    <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                                        <a asp-page="/Mecanico/Index" class="dropdown-item">Listados</a>
                                    </div>
                                }
                                else { }

                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @User.Identity.Name
                                </a>
                                <form method="post" asp-page="/CerrarSesion">
                                    <div class="dropdown-menu " aria-labelledby="navbarDropdown">
                                        <input type="submit" class="dropdown-item" value="Cerrar Sesion" />
                                    </div>
                                </form>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-page="/IniciarSesion" asp-area="">Iniciar Sesion</a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - TallerMecanica - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
