@page
@model TallerMecanica.Pages.ServicioCliente.recibido.EntregaModel
@{
    ViewData["Title"] = "Entrega";
}


<h2 class="text-info">Formulario de Entrega </h2>

<div class="border">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        @*<input type="hidden" asp-for="clientes.ID"/>*@
        <div class="container row" style="padding:30px">

            <div class="border-bottom col-6">
                <h4 class="text-info">Cliente</h4>

                <div class="form-group col-md-6">
                    <label asp-for="GetEmpleado.AutomivilID"> </label>
                    <select asp-for="GetEmpleado.AutomivilID" asp-items="@(new SelectList(Model.auto, "ID", "Matricula"))" class="form-control" disabled>
                        <option selected disabled> Seleccionar</option>
                    </select>
                </div>
                <div class="form-groud col-md-6 ">
                    <label asp-for="GetEmpleado.automovilEmpleadof.ClienteF"> </label>
                    <select asp-for="GetEmpleado.automovilEmpleadof.ClienteID" asp-items="@(new SelectList(Model.clientes, "ID", "Nombre"))" class="form-control" disabled>
                        <option selected disabled> Seleccionar</option>
                    </select>
                </div>
            </div>
            <div class="border-rigth"> </div>


            <div class=" col-6">
                <h2 class="text-info">Llenar formulario</h2>

                <div class="form-group ">
                    <div class="row">
                        <div class="col-md-5">
                            <label asp-for="entrega.AutomovilID"> </label>
                        </div>
                        <div class="form-group col-md-6">
                            <select asp-for="entrega.AutomovilID" asp-items="@(new SelectList(Model.auto, "ID", "Matricula"))" class="form-control" >
                                <option selected> Seleccionar</option>
                            </select>
                        </div>
                        <span asp-validation-for="entrega.AutomovilID" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="col-md-5">
                            <label asp-for="entrega.Fecha_Entrega"></label>
                        </div>
                        <div class="form-group col-md-6">
                            <input asp-for="entrega.Fecha_Entrega" class="form-control" disabled />
                        </div>
                        <span asp-validation-for="entrega.Fecha_Entrega" class="text-danger"></span>
                    </div>
                </div>


                <div class="form-group">
                    <div class="row">

                        <div class="col-md-5">
                            <label asp-for="entrega.estado"></label>
                        </div>
                        <div class="col-md-6">
                            <select asp-for="entrega.estado" class="form-control" required>
                                <option value="" selected disabled>--Seleccionar--</option>
                                <option value="Repado">--Reparado--</option>
                                <option value="No_Repado">--No Reparado--</option>
                            </select>
                        </div>
                        <span asp-validation-for="entrega.estado" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-5">
                            <label asp-for="entrega.precio"></label>
                        </div>
                        <div class="col-md-6">
                            <input asp-for="entrega.precio" type="number" class="form-control" />
                        </div>
                        <span asp-validation-for="entrega.precio" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-md-5">
                            <label asp-for="entrega.Detalles"></label>
                        </div>
                        <div class="col-md-6">
                            <textarea asp-for="entrega.Detalles" class="form-control"></textarea>
                        </div>
                        <span asp-validation-for="entrega.Detalles" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-4 col-md-4">
                            <button type="submit" value="Crear Datos" class="btn btn-primary form-control">
                                Guardar Datos
                            </button>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <a asp-page="Index" class="btn btn-success"> Volver lista</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>



